<!--
            Facebook comments plugin:
            http://developers.facebook.com/docs/reference/plugins/comments/
            XXX But it currently shows a terrible mobile view on iPad;
            manually preventing that. TODO FIXME Remove if fixed!
        -->
        <div id="comments" class="fb-comments" data-num-posts="50" data-width="700" data-href="https://__baseurl__/"></div>
        <script>
            if (navigator.userAgent.match(/\biPad\b/)) {
                document.getElementById("comments").setAttribute(
                    "data-mobile", "false");
            }
        </script>

<footer><span>@2015 - Emerald-MOD</span></footer>